.panel.panel-left.panel-cover,
.panel-overlay {
    z-index: 10001;
}

.panel {
    background: white;
    width: 85vw;
}

body.platform-ios .views {
    position: fixed;
    width: 100vw;
}

body.platform-ios .panel {
    position: fixed;
    border-top: 44px solid #EE3696;
}

body.platform-ios .panel-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.57);
}

body.platform-android .panel-overlay {
    background: rgba(50, 50, 50, 0.50);
}
