body.platform-android .label-switch .checkbox {
    background-color: #c5c5c5;
}

body.platform-android .label-switch .checkbox::after {
    background-color: #f1f1f1;
}

body.platform-ios .label-switch input[type="checkbox"]:checked + .checkbox {
    background-color: #90CF42;
}
.label-switch input[type="checkbox"][disabled] + .checkbox {
    opacity: 0.5;
}