* {
  outline: none;
  -webkit-tap-highlight-color: transparent; }

svg {
  width: 100%;
  height: auto; }

img {
  max-width: 100%; }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif; }

button {
  color: inherit;
  font-size: inherit;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: 0;
  padding: 0;
  background-color: transparent; }

.hidden, #templates, .app-screen:not(.active) {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

.no-overflow, #wrapper, .app-screen {
  overflow: hidden; }

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.led-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 35.55vw;
  height: 35.55vw;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1.5vw solid currentColor;
  border-radius: 50%; }
  #wrapper[data-color="white"] .led-button {
    color: #606060; }
  #wrapper:not([data-color="white"]) .led-button.active {
    box-shadow: 0 0 5px currentColor, inset 0 0 5px currentColor;
    background-color: white;
    color: white; }
  .led-button:not(.active) {
    color: white; }
  .led-button.active {
    background-color: #606060; }
  #wrapper[data-color="white"] .led-button::after, .led-button.active::after {
    color: #606060; }
  #wrapper[data-color="white"] .led-button.active::after {
    color: white; }
  .led-button::after {
    font-family: 'fontello';
    content: '\e800';
    font-size: 16vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.flashcontrol {
  position: absolute;
  top: 75%;
  left: 12.5%;
  display: block; }

.flashbutton_left {
  position: absolute;
  left: 3vw;
  width: 44px;
  height: 44px;
  background-image: url(../img/flash.svg); }
  #wrapper[data-color="white"] .flashbutton_left:not(.active) {
    background-image: url(../img/flash_black.svg); }
  .flashbutton_left.active {
    background-image: url(../img/flash_active.svg); }

.flashbutton_right {
  position: absolute;
  left: 61vw;
  width: 44px;
  height: 44px;
  background-image: url(../img/flash.svg); }
  #wrapper[data-color="white"] .flashbutton_right:not(.active) {
    background-image: url(../img/flash_black.svg); }
  .flashbutton_right.active {
    background-image: url(../img/flash_active.svg); }

.brightness-control .alignleft {
  position: relative;
  float: left;
  font-size: 14px;
  color: #333333;
  top: 148vw;
  margin-left: 7vw;
  font-weight: 500; }

.brightness-control .alignright {
  position: relative;
  float: right;
  font-size: 14px;
  color: #333333;
  top: 148vw;
  margin-right: 7vw;
  font-weight: 500; }

.brightness-control .nxprange {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  color: red; }
  .brightness-control .nxprange:focus {
    outline: none; }
  .brightness-control .nxprange::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(90deg, transparent, transparent 7%, rgba(0, 0, 0, 0.26) 7%, rgba(0, 0, 0, 0.26) 93%, transparent 93%, transparent);
    background: linear-gradient(90deg, transparent, transparent 7%, rgba(0, 0, 0, 0.26) 7%, rgba(0, 0, 0, 0.26) 93%, transparent 93%, transparent);
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none; }
  .brightness-control .nxprange::before {
    display: block;
    height: 2px;
    content: '';
    background: #000000;
    top: 0px;
    right: 50%;
    position: absolute;
    width: 43%; }
  .brightness-control .nxprange::-webkit-slider-thumb {
    position: relative;
    top: -29px;
    box-shadow: none;
    border-style: none;
    background: -webkit-radial-gradient(circle, black, black 14%, transparent 14%, transparent);
    background: radial-gradient(circle, black, black 14%, transparent 14%, transparent);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 1; }

.onoffswitch {
  position: absolute;
  left: 32vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 44px;
  height: 44px; }
  .onoffswitch .checkbox {
    display: none; }
    .onoffswitch .checkbox:checked + .switch-label {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 3px; }
    #wrapper:not([data-color="white"]) .onoffswitch .checkbox + .switch-label::before {
      background-image: url(../img/lock.svg); }
    #wrapper:not([data-color="white"]) .onoffswitch .checkbox:checked + .switch-label::before {
      background-image: url(../img/lock_active.svg); }
    #wrapper[data-color="white"] .onoffswitch .checkbox:checked + .switch-label:before {
      background-image: url(../img/lock_active.svg); }
  .onoffswitch .switch-label {
    display: block;
    position: relative;
    overflow: hidden;
    width: 44px;
    height: 44px; }
    .onoffswitch .switch-label::before {
      content: "";
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url(../img/lock_black.svg);
      background-repeat: no-repeat;
      background-size: auto 100%; }

.color-control {
  position: absolute;
  width: 100%;
  height: 20vw;
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-content: stretch; }
  .color-control button {
    flex-grow: 1;
    margin: 0; }

.wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  z-index: -1; }

.wrapper[data-color='white'] {
  color: white; }

.wrapper[data-color='red'] {
  color: #ff4646; }

.wrapper[data-color='green'] {
  color: #40d78b; }

.wrapper[data-color='blue'] {
  color: #00bfde; }

.wrapper[data-color='yellow'] {
  color: #fbec00; }
